<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Central de Ajuda</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <div class="centralHeader">
    <ion-searchbar
      show-clear-button="always"
      placeholder="Qual sua dúvida?"
    ></ion-searchbar>
  </div>

  <div class="optionCards">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Sobre a Skate Club</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        Saiba mais sobre nossa marca e franquias
      </ion-card-content>

      <ion-button fill="clear">Conhecer</ion-button>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Como funciona o APP</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        Dicas de como utilizar e fazer compras pelo seu app
      </ion-card-content>

      <ion-button fill="clear">Aprender</ion-button>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Fale Conosco</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        Encontrou algum problema? Precisa de ajuda com sua compra? Entre em
        contato conosco que podemos resolver!
      </ion-card-content>

      <ion-button (click)="goToContact()" fill="clear">Entrar em contato</ion-button>
    </ion-card>
  </div>

  <div class="infoText">
    <span>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo officia
      consequatur ex! Vel culpa inventore illo quae? Vel, itaque odit. Quia enim
      vero doloremque suscipit nemo quibusdam autem voluptatibus explicabo?
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sit,
      voluptatibus rerum neque saepe quasi libero, enim repudiandae sequi
      praesentium harum error sapiente maxime nihil fugit facere eum corporis
      molestias totam?
    </span>
  </div>
</ion-content>
