<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button text=""></ion-back-button>
      <ion-title>Contato</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
<div>
  <h2>Dúvidas? Reclamações? Elogios? Feedbacks? Deixe um e-mail para nós e conte sua experiência!</h2>
</div>

<ion-card color="dark">
  <ion-item color="dark">
    <ion-label position="stacked">Assunto</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item color="dark">
    <ion-textarea autosizedirective ></ion-textarea>
  </ion-item>
</ion-card>
</ion-content>
