<ion-content>
  <ion-button (click)="backtoStore()" fill="clear"><ion-icon name="chevron-back-outline"></ion-icon>Voltar</ion-button>
<ion-card class="text">
  <h2>Envie-nos um e-mail e deixe o seu feedback!</h2>
  <ion-item lines="none">
    <ion-input placeholder="Assunto" maxlength="30"></ion-input>
  </ion-item>

  <ion-item lines="none">
    <ion-textarea class="custom-textarea" placeholder="Digite sua mensagem..." autoGrow="true" maxlength="500"></ion-textarea>
  </ion-item>
</ion-card>
<ion-button class="save" type="submit" size="block">Enviar</ion-button>
</ion-content>
