<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Termos de Serviços</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
  <h1>Termos de Serviços</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto asperiores
    repellendus laborum quia omnis nostrum quae, quisquam quaerat odio voluptas
    at ducimus natus fuga corporis. A sit molestias optio. Iste. Lorem ipsum
    dolor sit amet, consectetur adipisicing elit. Architecto expedita possimus
    rerum iusto molestiae perferendis quo, id facere accusamus praesentium
    voluptatibus nobis! Fugiat, quod exercitationem provident ad dolorem aliquam
    totam? Lorem, ipsum dolor sit amet consectetur adipisicing elit. A odio
    provident nostrum veniam, quidem earum ut, blanditiis in consequatur vitae
    voluptas ipsa repellendus itaque cum? Repudiandae quisquam ducimus odio
    cupiditate. Lorem ipsum, dolor sit amet consectetur adipisicing elit.
    Deserunt maxime minus voluptate explicabo vero voluptatem nesciunt molestias
    necessitatibus perferendis laboriosam. Nulla obcaecati officiis blanditiis
    at tempore quisquam deserunt doloremque sit. Lorem ipsum dolor, sit amet
    consectetur adipisicing elit. Illum eius, quia ratione, impedit rem quidem
    est ea eum at magni nesciunt non minus veritatis, dolorem blanditiis facere
    eaque esse iusto.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque, facere
    eius? Sunt, debitis voluptas porro, placeat nihil nesciunt error repellat
    libero tempore perspiciatis ad similique assumenda et, nemo iusto eveniet.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora omnis illo
    molestiae nam deleniti eveniet quaerat nostrum in, rem adipisci itaque
    corporis mollitia ab dolore enim nobis quam inventore ratione. Lorem, ipsum
    dolor sit amet consectetur adipisicing elit. Et placeat officiis in
    voluptatem id. Vel aspernatur quae ab esse expedita porro. Accusamus saepe
    veniam quidem, minima vero animi? Repellendus, accusamus? Lorem ipsum dolor
    sit amet consectetur adipisicing elit. Aut nemo dolorum veniam provident.
    Consequuntur esse blanditiis ad soluta autem aspernatur maxime et!
    Praesentium iusto voluptatum hic inventore porro ullam nam?
  </p>
</div>
</ion-content>
