.user-image {
  --size: 150px;
  margin: auto;
}

img {
  border-radius: 50%;

}

.thumbnail{
  position: relative;
  margin: auto;
  margin-top: 50px;
}

.hero {
  // position: relative;
  // height: 100vh;
  // width: 100%;
  // display: flex;
  // align-items: center;
  // justify-content: center;

  &::before {
      content: "";
      background-image: url(../../../assets/img/profileBack.jpg);
      background-size: cover;
      height: 100vh;
      width: 100%;
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      opacity: 0.5;
  }
}

ion-button.img {
  margin: auto;
  color: white;
}
ion-list {
  --background: none;
  background: none;
}
ion-button.save{
  --background: #E7AF32;
  --border-radius: 16px;
  width: 95%;
  margin: auto;
  margin-bottom: 5px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

}
ion-toolbar{
  --background: none;
}
ion-item {
  --background: none;
  text-align: center;
  margin: auto;
  padding-right: 30px;
  padding-left: 30px;
  --border-width: 0px ;
  --highlight-height: 3px;
  --highlight-color-focused: #E7AF32;
  --highlight-color-valid: #E7AF32;
}
ion-input[placeholder="Email"]{
  color: gray;
}
