
<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="signOut()">
        <ion-icon slot="icon-only" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="hero">
    <div class="thumbnail">
      <ion-thumbnail class=" animated fadeIn fast" *ngIf="imageUrl else avatar_placeholder" class="user-image">
        <img *ngIf="perfilFormGroup" [src]="imageUrl" alt="">
      </ion-thumbnail>
      <ng-template #avatar_placeholder>
        <ion-thumbnail class="user-image">
          <img *ngIf="perfilFormGroup" src="../../../assets/img/avatar.png" alt="">
        </ion-thumbnail>
      </ng-template>
    </div>
  <ion-list style="text-align: center;">
    <ion-button class="img" (click)="changeImage()" fill="clear">Change Avatar</ion-button>
  </ion-list>

  <form [formGroup]="perfilFormGroup" *ngIf="perfilFormGroup" #perfilFormGroupDirective="ngForm" (ngSubmit)="update()">
    <ion-list style="text-align: center;">
      <ion-item fill="full">
        <ion-input placeholder="Name" formControlName="name" inputMode="text" clearInput="false" required></ion-input>
      </ion-item>
      <ion-item lines="none">
        <ion-input placeholder="Email" [disabled]="true" formControlName="email" inputMode="email" clearInput="false"  [readonly]="true"></ion-input>
      </ion-item>
    </ion-list>
    <ion-button class="save" type="submit" size="block" [disabled]="!perfilFormGroup.valid">Save</ion-button>
  </form>
</div>
</ion-content>
