<ion-header>
  <ion-toolbar>
    <ion-buttons>
    <ion-back-button text=""></ion-back-button>
    <ion-title>Meu Carrinho</ion-title>
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-grid>
     <ion-row>
      <ion-col>
    <img src="../../../assets/img/hoodelement.jpg">
    <ion-item lines="none" no-lines>
      <ion-button class="add"><ion-icon name="remove-sharp"></ion-icon></ion-button>
      <p>1</p>
      <ion-button class="remove"><ion-icon name="add-sharp"></ion-icon></ion-button>
   </ion-item>
    </ion-col>
    <ion-col>
    <ion-item lines="none">
      <h2>Casaco Element</h2>
    </ion-item>
    <ion-card-content>
      <p class="price">Total: 190</p>
      <p class="details">Tamanho: M</p>
      <p class="details">Cor: Preto</p>
      <p class="availability">Produto em Estoque</p>
      <ion-button class="trash" fill="clear">
        <ion-icon color="danger" name="trash-outline"></ion-icon>
      </ion-button>
    </ion-card-content>
    </ion-col>
     </ion-row>
    </ion-grid>
  </ion-card>
  <ion-card>
    <ion-grid>
     <ion-row>
      <ion-col>
    <img src="../../../assets/img/elementshape.jpg">
    <ion-item lines="none" no-lines>
      <ion-button class="add"><ion-icon name="remove-sharp"></ion-icon></ion-button>
      <p>1</p>
      <ion-button class="remove"><ion-icon name="add-sharp"></ion-icon></ion-button>
   </ion-item>
    </ion-col>
    <ion-col>
    <ion-item lines="none">
      <h2>Shape Element</h2>
    </ion-item>
    <ion-card-content>
      <p class="price">Total: 250</p>
      <p class="details">Tamanho: Unico</p>
      <p class="details">Cor: Preto e Vermelho</p>
      <p class="availability">Produto em Estoque</p>
      <ion-button class="trash" fill="clear">
        <ion-icon color="danger" name="trash-outline"></ion-icon>
      </ion-button>
    </ion-card-content>
    </ion-col>
     </ion-row>
    </ion-grid>
  </ion-card>

  <ion-button class="buy" size="full">Finalizar Compra</ion-button>
</ion-content>
