ion-header {
  --backgroud: var(--ion-color-dark);
}

ion-card {
  --background: snow;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}

ion-card-content {
  margin-top: -7px;
}

ion-content {
  --background: var(--ion-color-dark);
}

ion-back-button {
  --color: #E7AF32;
}

h1,
p {
  color: gray;
}

div {
  text-align: justify;
  margin-left: 20px;
  margin-right: 20px;
}

ion-title {
  color: #E7AF32;
}

span {
  color: red;
}

img {
  height: 140px;
  width: 140px;
}

ion-item {
  width: max-content;
  --background: snow;
  color: #000;
}

.details {
  font-size: small;
  color: gray;
}

.availability {
  font-size: small;
  color: green;
}

.price {
  color: #E7AF32;
}

ion-slides {
  height: max-content;
}

ion-item[no-lines] {
  width: 140px;


  ion-button.add {
    margin-right: 15px;
    --background: #E7AF32;

  }

  ion-button.remove {
    margin-left: 15px;
    --background: #E7AF32
  }
}

ion-button.trash {
  position: relative;
  left: 70%;
  height: 30px;
  width: 50px;
  padding: 0%;

}

ion-button.buy {
  --background: #E7AF32;
  --border-radius: 16px;
  margin-top: 30px;
  margin-bottom: 5px;

}

div.resumo {
  margin: auto;
  height:auto;
  background-color: #FFFAFA;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
  border-radius: 8px;
  width: 95%;

  ion-item {
    width: 100% !important;
  }

  h2{
    color: #E7AF32;
  }
  .priceEnd{
    font-weight: bold;
    color: green;
  }
}

ion-item.endereco, .envio{
  min-width: 20% !important;
  width: 100% !important;
  --border-width: 0px;
  --highlight-height: 2px;
  --color-hover: #E7AF32;
  --highlight-color-focused: #E7AF32;
  --highlight-color-valid: #E7AF32;

  ion-label {
    --color: #E7AF32;
  }
}
