<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="push">
      <ion-content>
        <ion-list id="menu">
          <ion-avatar slot="start" (click)="goToLoginPage()">
            <img src="https://cdn-icons-png.flaticon.com/512/5087/5087579.png" alt="">
          </ion-avatar>
          <ion-list-header *ngIf="displayName">
            {{displayName}}
            <ng-container *ngIf="displayName === null">Not Logged</ng-container>
          </ion-list-header>
          <ion-note>skateclubclient@email.com</ion-note>
          <ion-list>
            <ion-item><ion-icon class="menuicon" name="person-sharp"></ion-icon><span>Meu perfil</span></ion-item>
            <ion-item><ion-icon class="menuicon" name="star"></ion-icon><span>Favoritos</span></ion-item>
            <ion-item (click)="goToStore()"><ion-icon class="menuicon" name="storefront"></ion-icon><span>Loja</span></ion-item>
            <ion-item><ion-icon class="menuicon" name="search-sharp"></ion-icon><span>Buscar produto</span></ion-item>
            <ion-item><ion-icon class="menuicon" name="mail"></ion-icon><span>Fale conosco</span></ion-item>
          </ion-list>
          <ion-list class="submenu">
            <ion-item (click)="goToCentral()"><span>Central de Ajuda</span></ion-item>
            <ion-item (click)="goToTermos()"><span>Termos de Serviço</span></ion-item>
            <ion-item (click)="goToCodigoConduta()"><span>Código de Conduta</span></ion-item>
            <ion-item (click)="goToPrivacidade()"><span>Privacidade</span></ion-item>
            <ion-item (click)="signOut()" color="danger"><ion-icon color="dark" name="log-out-outline"></ion-icon><span>Sair</span></ion-item>
          </ion-list>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
  <app-loading></app-loading>
</ion-app>
