<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="goToCart()">
        <ion-icon class="mycart" name="cart"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Skate Club</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <div class="slider">
    <ion-slides
      class="slider"
      loop="true"
      pager="true"
      [options]="slideOptions"
    >
      <ion-slide>
        <img src="../../../assets/img/slide1.jpg" alt="">
      </ion-slide>
      <ion-slide>
        <img src="../../../assets/img/slide2.jpg" alt="">
      </ion-slide>
      <ion-slide>
        <img src="../../../assets/img/slide3.jpg" alt="">
      </ion-slide>
      <ion-slide>
        <img src="../../../assets/img/slide4.jpg" alt="">
      </ion-slide>
      <ion-slide>
        <img src="../../../assets/img/slide6.jpg" alt="">
      </ion-slide>
    </ion-slides>
  </div>
  <div>
    <ion-item-divider>
      <ion-tab-button>
        <img src="../../../assets/img/sneakers.png" width="50" height="50" />
        <ion-label>Calçados</ion-label>
      </ion-tab-button>
      <ion-tab-button>
        <img src="../../../assets/img/hood.png" width="50" height="50" />
        <ion-label>Vestuário</ion-label>
      </ion-tab-button>
      <ion-tab-button>
        <img src="../../../assets/img/skateboard.png" width="50" height="50" />
        <ion-label>Shapes</ion-label>
      </ion-tab-button>
      <ion-tab-button>
        <img src="../../../assets/img/helmet.png" width="50" height="50" />
        <ion-label>Acessórios</ion-label>
      </ion-tab-button>
    </ion-item-divider>
  </div>
  <div class="classicshape">
    <span>Shapes Clássicos</span>
    <ion-slides
      class="deckslide"
      [options]="{ slidesPerView: 'auto', zoom: false, grabCursor: true }"
    >
      <ion-slide style="width: 120px; height: 150px">
        <ion-col>
          <img
            style="
              pointer-events: none;
              border: 2px solid #e7af32;
              border-radius: 50%;
            "
            src="../../../assets/img/santacruz.jpg"
          />
          <ion-label>Santa Cruz</ion-label>
        </ion-col>
      </ion-slide>
      <ion-slide style="width: 120px; height: 150px">
        <ion-col>
          <img
            style="
              pointer-events: none;
              border: 2px solid #e7af32;
              border-radius: 50%;
            "
            src="../../../assets/img/birdhouse.jpg"
          />
          <ion-label>BirdHouse</ion-label>
        </ion-col>
      </ion-slide>
      <ion-slide style="width: 120px; height: 150px">
        <ion-col>
          <img
            style="
              pointer-events: none;
              border: 2px solid #e7af32;
              border-radius: 50%;
            "
            src="../../../assets/img/baker.jpg"
          />
          <ion-label>Baker</ion-label>
        </ion-col>
      </ion-slide>
      <ion-slide style="width: 120px; height: 150px">
        <ion-col>
          <img
            style="
              pointer-events: none;
              border: 2px solid #e7af32;
              border-radius: 50%;
            "
            src="../../../assets/img/zero.jpg"
          />
          <ion-label>Zero</ion-label>
        </ion-col>
      </ion-slide>
      <ion-slide style="width: 120px; height: 150px">
        <ion-col>
          <img
            style="
              pointer-events: none;
              border: 2px solid #e7af32;
              border-radius: 50%;
            "
            src="../../../assets/img/flip.jpg"
          />
          <ion-label>Flip</ion-label>
        </ion-col>
      </ion-slide>
      <ion-slide style="width: 120px; height: 150px">
        <ion-col>
          <img
            style="
              pointer-events: none;
              border: 2px solid #e7af32;
              border-radius: 50%;
            "
            src="../../../assets/img/girl.jpg"
          />
          <ion-label>Girl</ion-label>
        </ion-col>
      </ion-slide>
      <ion-slide style="width: 120px; height: 150px">
        <ion-col>
          <img
            style="
              pointer-events: none;
              border: 2px solid #e7af32;
              border-radius: 50%;
            "
            src="../../../assets/img/shortys.jpg"
          />
          <ion-label>Shorty's</ion-label>
        </ion-col>
      </ion-slide>
    </ion-slides>
  </div>

  <div class="featured">
    <span>Mais Vendidos <ion-icon name="flame"></ion-icon></span>
    <ion-slides
      class="mostSold"
      [options]="{ slidesPerView: 1 , zoom: false, grabCursor: true }"
    >
      <ion-slide>
        <ion-card>
          <ion-grid>
            <ion-row>
              <ion-col>
                <img src="../../../assets/img/hoodelement.jpg" />
                <ion-button color="success"
                  ><ion-icon color="dark" name="cart"></ion-icon
                ></ion-button>
              </ion-col>
              <ion-col>
                <ion-item lines="none">
                  <h2>Casaco Element</h2>
                </ion-item>
                <ion-card-content>
                  <span class="price">R$ 150,00 à vista</span>
                  <span class="credit">R$ 190,00 parcelado em até 3x</span>
                </ion-card-content>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>
      </ion-slide>

      <ion-slide>
        <ion-card>
          <ion-grid>
            <ion-row>
              <ion-col>
                <img src="../../../assets/img/elementshape.jpg" />
                <ion-button color="success"
                  ><ion-icon color="dark" name="cart"></ion-icon
                ></ion-button>
              </ion-col>
              <ion-col>
                <ion-item lines="none">
                  <h2>Shape Element</h2>
                </ion-item>
                <ion-card-content>
                  <span class="price">R$ 200,00 à vista</span>
                  <span class="credit">R$ 320,00 parcelado em até 5x</span>
                </ion-card-content>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>
      </ion-slide>

      <ion-slide>
        <ion-card>
          <ion-grid>
            <ion-row>
              <ion-col>
                <img src="../../../assets/img/sneakeradidas.jpg" />
                <ion-button color="success"
                  ><ion-icon color="dark" name="cart"></ion-icon
                ></ion-button>
              </ion-col>
              <ion-col>
                <ion-item lines="none">
                  <h2>Tênis Adidas</h2>
                </ion-item>
                <ion-card-content>
                  <span class="price">R$ 289,00 à vista</span>
                  <span class="credit">R$ 410,00 parcelado em até 6x</span>
                </ion-card-content>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>
      </ion-slide>
    </ion-slides>
  </div>

  <div class="sales">
    <span>Promoções</span>
    <ion-slides
      class="mostSold"
      [options]="{ slidesPerView: 1 , zoom: false, grabCursor: true }"
    >
      <ion-slide>
        <ion-card>
          <ion-grid>
            <ion-row>
              <ion-col>
                <img src="../../../assets/img/shapesanta.jpg" />
                <ion-button color="success"
                  ><ion-icon color="dark" name="cart"></ion-icon
                ></ion-button>
              </ion-col>
              <ion-col>
                <ion-item lines="none">
                  <h2>Shape Santa Cruz</h2>
                </ion-item>
                <ion-card-content>
                  <span class="price">R$ 99,00 à vista</span>
                  <span class="credit">R$ 33,00 em parcelas de 3x</span>
                </ion-card-content>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>
      </ion-slide>

      <ion-slide>
        <ion-card>
          <ion-grid>
            <ion-row>
              <ion-col>
                <img src="../../../assets/img/calcaurgh.jpg" />
                <ion-button color="success"
                  ><ion-icon color="dark" name="cart"></ion-icon
                ></ion-button>
              </ion-col>
              <ion-col>
                <ion-item lines="none">
                  <h2>Jogger Urgh</h2>
                </ion-item>
                <ion-card-content>
                  <span class="price">R$ 159,00 à vista</span>
                  <span class="credit">R$ 53,00 em parcelas de 5x</span>
                </ion-card-content>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>
      </ion-slide>

      <ion-slide>
        <ion-card>
          <ion-grid>
            <ion-row>
              <ion-col>
                <img src="../../../assets/img/bonetrasher.jpg" />
                <ion-button color="success"
                  ><ion-icon color="dark" name="cart"></ion-icon
                ></ion-button>
              </ion-col>
              <ion-col>
                <ion-item lines="none">
                  <h2>Boné Trasher</h2>
                </ion-item>
                <ion-card-content>
                  <span class="price">R$ 79,00 à vista</span>
                  <span class="credit">R$ 39,50 em parcelas de 2x</span>
                </ion-card-content>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>
      </ion-slide>
    </ion-slides>
  </div>

    <div class="classicshape">
    <span>Pesquisar por marca</span>
    <ion-slides
      class="deckslide"
      [options]="{ slidesPerView: 'auto', zoom: false, grabCursor: true }"
    >
      <ion-slide style="width: 120px; height: 150px">
        <ion-col>
          <img
            style="
              pointer-events: none;

            "
            src="../../../assets/img/thrasher.png"
          />
          <ion-label>Santa Cruz</ion-label>
        </ion-col>
      </ion-slide>
      <ion-slide style="width: 120px; height: 150px">
        <ion-col>
          <img
            style="
              pointer-events: none;

            "
            src="../../../assets/img/santaCruz.png"
          />
          <ion-label>BirdHouse</ion-label>
        </ion-col>
      </ion-slide>
      <ion-slide style="width: 120px; height: 150px">
        <ion-col>
          <img
            style="
              pointer-events: none;

            "
            src="../../../assets/img/hosoy.png"
          />
          <ion-label>Baker</ion-label>
        </ion-col>
      </ion-slide>
      <ion-slide style="width: 120px; height: 150px">
        <ion-col>
          <img
            style="
              pointer-events: none;

            "
            src="../../../assets/img/peralta.png"
          />
          <ion-label>Zero</ion-label>
        </ion-col>
      </ion-slide>
      <ion-slide style="width: 120px; height: 150px">
        <ion-col>
          <img
            style="
              pointer-events: none;

            "
            src="../../../assets/img/independent.png"
          />
          <ion-label>Flip</ion-label>
        </ion-col>
      </ion-slide>
      <ion-slide style="width: 120px; height: 150px">
        <ion-col>
          <img
            style="
              pointer-events: none;

            "
            src="../../../assets/img/Vans.png"
          />
          <ion-label>Girl</ion-label>
        </ion-col>
      </ion-slide>
      <ion-slide style="width: 120px; height: 150px">
        <ion-col>
          <img
            style="
              pointer-events: none;

            "
            src="../../../assets/img/urgh.png"
          />
          <ion-label>Shorty's</ion-label>
        </ion-col>
      </ion-slide>
    </ion-slides>
  </div>

  <div class="footer">
    <ion-button fill="clear"><ion-icon name="logo-instagram"></ion-icon></ion-button>
    <ion-button fill="clear" ><ion-icon name="logo-facebook"></ion-icon></ion-button>
    <ion-button fill="clear" ><ion-icon name="logo-whatsapp"></ion-icon></ion-button>
    <ion-button fill="clear" ><ion-icon name="logo-linkedin"></ion-icon></ion-button>
  </div>
</ion-content>
