.user-auth h1{
  margin-top: 50px;
  margin-bottom: 80px;
  color: red;  
  text-align: center; 
}

h1{
  padding-top: 30px;
  font-weight: 600; 
}

.user-auth {
  margin-bottom: 100px;   
}
.user-auth a{
  color: red;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
}