<ion-content>
  <ion-button class="back" fill="clear" (click)="goToStore()"><ion-icon name="arrow-back-sharp"></ion-icon></ion-button>
  <div class="flex-center">
  <ion-card>
    <ion-card-header color="secondary">
        <ion-card-title style="color:white;">Log in</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <form [formGroup]="credentialFormGroup" (ngSubmit)="signIn()">
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input type="email" placeholder="E-mail" formControlName="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input type="password" placeholder="Password" formControlName="password"></ion-input>
      </ion-item>
      <ion-button color="danger" fill="clear" size="block" (click)="resetPassword()">Forgot password</ion-button>
      <ion-button class="login" type="submit" class="login" size="block">Login</ion-button>
<ion-button class="register" fill="clear" size="block" (click)="goToRegisterPage()">Register</ion-button>
</form>
</ion-card-content>
  </ion-card>
</div>
</ion-content>
