ion-button[color="tertiary"]{
  text-transform: uppercase;
}
ion-button[color="success"]{
  text-transform: uppercase;
  margin-top: 30px;
}

ion-button[color="danger"]{
  text-transform: initial;
}


ion-content {
  --background: ;
  background-image: url(../../../assets/img/loginback.jpg);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;

}

ion-card {
  width: 90%;
}

ion-card-header{
 background-color: orange;
}
