ion-button.register{
  text-transform: uppercase;
  color: #E7AF32;
}
ion-button.login{
  text-transform: uppercase;
  margin-top: 30px;
  --background: #E7AF32;
}

ion-button[color="danger"]{
  text-transform: initial;
}


ion-content {
  --background: ;
  background-image: url(../../../assets/img/loginback.jpg);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;

}

ion-card {
  width: 90%;
}

ion-card-header{
 background-color: #E7AF32;
}
